

      <body>
        <div *ngIf="!isSubmit" class="login-container">
            <form class="login-form">
                <h2>Login</h2>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" #username required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" #password required>
                </div>
            </form>
            <button (click)="check(username.value, password.value)" type="submit">Login</button>
        </div>

  <div id="admin" *ngIf="isSubmit">
    <div *ngIf="isAuthenticate; else failureMsg">
      <h4>Welcome {{ username }}</h4>

      <a routerLink="/home/{{username}}">
        
      <button> Go to Home</button>

      </a>
    <a routerLink=" ">
      <button>Log Out</button>
    </a>


    </div>
    <ng-template #failureMsg>
      <h4>Invalid Login !!! Please try again...</h4>
    </ng-template>
  
  </div>

  
</body>