
<div id="header">
   

    <div class="food-card">
        <!-- Image -->
        <img src="\assets\burger.webp" alt="Burger">
        
        <!-- Food Information -->
        <h2>Burger</h2>
        <p>One of most popular</p>
        <p>Price: $1.50</p>
      </div>
      
      <div class="food-card">
        <!-- Image -->
        <img src="\assets\fries.jpg" alt="French fries">
        
        <!-- Food Information -->
        <h2>French fries</h2>
        <p>Made of Potato</p>
        <p>Price: $.70</p>
      </div>
      
      <div class="food-card">
        <!-- Image -->
        <img src="\assets\pasta.webp" alt="pasta">
        
        <!-- Food Information -->
        <h2>Pasta</h2>
        <p>Made from Wheat</p>
        <p>Price: $3.30</p>
      </div>
</div>

<div id="header">
   

    <div class="food-card">
        <!-- Image -->
        <img src="assets\noodles.webp" alt="noodles">
        
        <!-- Food Information -->
        <h2>Noodle</h2>
        <p>Childer 's favorite</p>
        <p>Price: $1.00</p>
      </div>
      
      <div class="food-card">
        <!-- Image -->
        <img src="assets\pizza.webp" alt="pizza">
        
        <!-- Food Information -->
        <h2>Pizza</h2>
        <p>Most Popular</p>
        <p>Price: $6.50</p>
      </div>
      
      <div class="food-card">
        <!-- Image -->
        <img src="assets\soup.webp" alt="soup">
        
        <!-- Food Information -->
        <h2>Soup</h2>
        <p>Delicious Dish</p>
        <p>Price: $2.40</p>
      </div>
</div>



<div>

  <a routerLink="/home/{{username}}">
    <button>Back</button>
  </a>
</div>
